
body {
    display: flex;
    height: 100vh;
    background: #f1f3f6;
}

.sidebar {
    width: 250px;
    background: #fff;
    border-right: 1px solid #e9ecef;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar .navbar-brand {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.sidebar .nav-link {
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.sidebar .nav-link.active {
    background-color: #e9ecef;
    font-weight: bold;
}

.sidebar .nav-link i {
    margin-right: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.navbar .navbar-brand {
    color: white;
}

/*
Product
*/

#products-table img {
    width: 70px;
    height: 70px;
}


.product__pagination,
.blog__pagination {
    padding-top: 10px;
}

.product__pagination a,
.blog__pagination a {
    display: inline-block;
    width: 40px;
    height: 30px;
    border: 1px solid #b2b2b2;
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-right: 16px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.product__pagination a:hover,
.blog__pagination a:hover {
    background: #7fad39;
    border-color: #7fad39;
    color: #ffffff;
}

.product__pagination a:last-child,
.blog__pagination a:last-child {
    margin-right: 0;
}
